@import "tailwindcss";

@theme {
  --color-base-bg: #050505;
  --color-base-text: #FFFFFF;
  --color-accent-border: #1F2937;
  --color-whatsapp: #25D366;

  --font-inter: var(--font-inter);
  --font-fraunces: var(--font-fraunces);
}

:root {
  --background: var(--color-base-bg);
  --foreground: var(--color-base-text);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}
